@font-face {
  font-family: 'Nukamiso';
  src: url('./Fonts/nukamiso__beta08.eot?#iefix') format('embedded-opentype'),
       url('./Fonts/nukamiso__beta08.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Suissnord';
  src: url('./Fonts/Suissnord.eot?#iefix') format('embedded-opentype'),
       url('./Fonts/Suissnord.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

.pageback {
    background-color: #061040;
}

.title {
    text-align: center;
    word-break: break-word;
}

.file-border {
    background-color: #fd46fc;
    max-width: 1600px;
    margin: auto;
    padding: 10px;
}

.timeline-area {
    background-color: #106e55;
    padding: 10px;
}

.event-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-info {
  flex: 1;
  border: 1px solid black;
}

.flex-pic {
  flex: 1;
  border: 1px solid black;
}