@font-face {
  font-family: 'Nukamiso';
  src: url('./Fonts/nukamiso__beta08.eot?#iefix') format('embedded-opentype'),
       url('./Fonts/nukamiso__beta08.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Primetime';
  src: url('./Fonts/PRIMETIME ╕ PERSONAL USE ONLY.eot?#iefix') format('embedded-opentype'),
       url('./Fonts/PRIMETIME ╕ PERSONAL USE ONLY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.timeline-background {
    background-color: #061040;
}

.file-border {
    background-color: #FD46FC;
    padding: 20px;
    max-width: 1300px;
    margin: auto;
}

.file-space {
    background-color: #061040;
    font-family: 'Nukamiso';
}

.event-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin: 0 auto 0 auto;
    max-width: 1120px;
}

.info-box {
    flex: 3;
    padding-right: 40px;
}

.image-box {
    flex: 1;
}

.year-box {
    color: gray;
    font-size: 50px;
    padding: 0 1rem;
    margin: 0 auto 0 auto;
    max-width: 1120px;
}

.date-box {
    color: yellow;
    font-size: 25px;
    margin-bottom: 5px;
}

.mini-info {
    color: lightblue;
    margin-bottom: 5px;
}

.event-details {
    color: yellow;
    margin-bottom: 20px;
    font-size: 20px;
}

.custom-button {
    background-color: aquamarine;
    flex: 1;
}

.button-layouts {
    display: flex;
    flex-wrap: wrap;
}

.space-buttons {
    flex: 1;
    text-decoration: none;
    color:black;
    background-color: antiquewhite;
    text-align: center;
    margin-inline: 50px;
}

.title {
    font-family: 'Primetime';
    text-align: center;
    font-size: 90px;
    color:#3160ac
}
